<div class="container footer-inner">
  <div class="footer-col">
    <h4 data-i18n="footer.sobre">Sobre Mar de Hilo</h4>
    <p data-i18n="footer.desc">Tejemos el océano a mano, inspirados en Isla Mujeres.</p>
  </div>
  <div class="footer-col">
    <h4 data-i18n="footer.enlaces">Enlaces rápidos</h4>
    <ul>
      <li><a href="./index.html" data-i18n="nav.inicio">Inicio</a></li>
      <li><a href="./colecciones.html" data-i18n="nav.colecciones">Colecciones</a></li>
      <li><a href="./blog.html" data-i18n="nav.blog">Blog</a></li>
      <li><a href="./contacto.html" data-i18n="nav.contacto">Contacto</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4 data-i18n="footer.legal">Legal</h4>
    <ul>
      <li><a href="./privacidad.html" data-i18n="footer.privacidad">Política de privacidad</a></li>
      <li><a href="./terminos.html" data-i18n="footer.terminos">Términos de uso</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4 data-i18n="footer.siguenos">Síguenos</h4>
    <ul>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">TikTok</a></li>
      <li><a href="#">Pinterest</a></li>
      <li><a href="#">Facebook</a></li>
    </ul>
  </div>
</div>
<div class="footer-bottom container">
  <p data-i18n="footer.derechos">© 2026 Mar de Hilo. Todos los derechos reservados.</p>
</div>
